.main {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-colorful-gradient-technology-2019-annual-conference-background-design-backgroundbusiness-backgroundbackground-designannual-image_73880.jpg")
		center center no-repeat;
	background-size: cover;
	/* background-position: -400px -180px, right 3em bottom 2em; */
}
.main:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right, #000, #000);
	opacity: 0.5;
}
